body{
    font-family: arial;
    font-size: 14px;
}
#canvas{
    width: 960px;
    margin: 0 auto;
    border: 1px solid silver;
}
#header{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
#menu{
    background-color: #00BFFF;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-table;
}
#menu ul li:hover{
    background-color: #1E90FF;
}
#menu ul li a{
    display: block;
    text-decoration: none;
    line-height: 40px;
    padding: 0 10px;
    color: #FFFFFF;
}
.utama ul{
    display: none;
    position: absolute;
    z-index: 2;
}
.utama:hover ul{
    display: block;
}
.utama ul li{
    display: block;
    background-color: #1E90FF;
    width: 140px;
}
#konten{
    min-height: 400px;
    padding: 20px;
}
#footer{
    text-align: center;
    padding: 20px;
    background-color: #DCDCDC;
}